
/* Importing all the fonts with weights */
@font-face {
    font-family: Proxima Nova;
    src: url(fonts/ProximaNovaThin.otf);
    font-weight: 100;
}

@font-face {
    font-family: Proxima Nova;
    src: url(fonts/ProximaNovaAltRegular.otf);
    font-weight: 200;
}

@font-face {
    font-family: Proxima Nova;
    src: url(fonts/proxima-nova-semibold.otf);
    font-weight: 300;
}

/* Global Overrides */
body {
    position: relative;
    overflow-x: hidden;
}

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.logo {
    margin-top: 30px;
    margin-left: 30px;
    z-index: 1;
    position: fixed;
}

.logo > img {
    width: 50px;
}

.page {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: table;
    height: 100vh;
    margin: auto;
    min-width: 375px;
    position: relative;
    width: 100vw;
}

.landing {
    background-image: url(../img/background.jpg);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    /*-webkit-filter: opacity(.6);
    filter: opacity(.6);*/
}

.intro-text {
    max-width: 600px;
    margin-top: 150px;
    margin-left: 100px;
}

.intro-text > p {
	font-family: Proxima Nova;
    font-weight: 300;
    font-size: 36px;
    color: white;
}

